$primaryColor: #bc262f;
$primaryColorSelect: rgba(188,38,47,0.27);
$primaryColorHover: #c82333;
$secondaryColor: #fff;
$secondaryColorSelect: rgba(255,255,255,0.27);
$opacity: 0.8;
$navHeightBig: 67px;
$navHeightSmall: 46px;

$theme-colors: (
        "makise-primary":           $primaryColor,
        "makise-primary-select":    $primaryColorSelect,
        "makise-secondary":         $secondaryColor,
        "makise-secondary-select":  $secondaryColorSelect
);
