@import './variables';

nav {
  height: $navHeightBig;
  font-family: 'Raleway', sans-serif;

  .logo {
    height: 30px;
  }
  .login-link {
    font-size: 1.25em;
  }
  #discord {
    height: 48px;
    padding-left: 5px;
  }
  button {
    background-color: transparent;
    border: none;
    height: 100%;

    &:focus, &:hover, &:active {
      outline: none;
      cursor: pointer;
      box-shadow: none!important;
    }
  }
  .user-avatar {
    height: 40px;
    width: 40px;
    box-sizing: content-box;
    border: 2px solid #f6cabe;
    border-radius: 100%;
    position: relative;
    top: 1px;
  }
  .user-name {
    color: $secondaryColor;
    font-size: 1.1em;
    position: relative;
    top: 10px;

    ul li {
      &:nth-of-type(1) {
        line-height: 1em;
      }
      &:nth-of-type(2) {
        font-size: 0.8em;
        opacity: $opacity;
      }
    }
  }
  .dropdown-toggle::after {
    width: 25px;
    height: 20px;
    border: 0;
    content: " ";
    opacity: $opacity;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABfAAAAXwBsrqMZwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB6SURBVEiJ7ZE7EoAgDAW5AgVHo9S7aenRLLjC2oADM3wCWmbrkPc2GKMoSgFwAPbDewucvQGAG/ALy318yyggcQFOsNjF2RdpwNAmby0N2IFQCSr+Jt26MheAbVo5t2m1lp50qN8KFi8W2qy1nrBZb90JSTb/tFYUMQ+NTmaPloJhwgAAAABJRU5ErkJggg==");
    background-position: top left;
    background-size: 82%;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    top: 11px;
    font-size: 1.5em;
  }
  .dropdown-menu {
    top: 65px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom: 2px solid $primaryColorSelect !important;
    font-size: 1.15em;

    &::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: -8px;
      right: 20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 10px solid #fff;
    }
    div a {
      color: $primaryColor;
      font-weight: 500;

      img {
        margin-top: -5px;
      }
    }
    &.show {
      visibility: visible;
      transition: all 0.15s ease-out;
      opacity: 1;
    }
  }
  .dropdown .dropdown-menu {
    transition: all 0.15s ease-out;
    visibility: hidden;
    display: block;
    opacity: 0;
    position: absolute;
  }
  .dropdown-menu.show {
    visibility: visible;
    transition: all 0.15s ease-out;
    opacity: 1;
  }
  a {
    &:focus, &:hover, &:active {
      text-decoration: none;
    }
    .dropdown-item {
      position: relative;
      padding-left: 20px;
      color: $primaryColor;

      &:focus, &:hover, &:active {
        background-color: #f8f9fa;
        color: $primaryColorHover;
        text-decoration: none;
      }
    }
  }
  div.user-menu {
    &:focus, &:hover, &:active {
      background-color: $secondaryColor;
    }
    .dropdown-item {
      color: $primaryColor;

      &:hover, &:active {
        color: $primaryColorHover;
      }
      &:active {
        background-color: transparent;
      }
    }
  }
  ::selection {
    background: $secondaryColorSelect;
  }
  .dropdown {
    height: 100%
  }
}

@media screen and (max-width : 767px) {
  nav {
    height: $navHeightSmall;

    .dropdown {
      height: auto;

      > button {
        background-color: $primaryColorHover;
      }
    }
    .user-avatar {
      top: 0;
    }
    .dropdown-toggle::after {
      top: 10px;
    }
    .dropdown-menu {
      top: 62px;
    }
    .navbar-collapse a {
      width: 100%;

      .login-btn {
        background-color: $primaryColorHover;
        height: auto;
        width: 100%;
      }
      button.dropdown-item {
        background-color: transparent;
      }
    }
  }
}
