@import 'variables';

main.notfound-page {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  padding-left: 6vw;
  padding-right: 6vw;

  h1 {
    color: $primaryColor;
    font-size: 5.5vw;
    font-weight: 400;
  }
  p {
    color: $primaryColor;
    font-size: 2.1vw;
    line-height: 2.6vw;
  }
  button {
    margin-top: 1vw;
    font-size: 1.4vw;
  }
  img {
    opacity: 0.9;
    width: 30vw;
  }
  ::selection {
    background: $primaryColorSelect;
  }
}

@media screen and (max-width: 767px) {
  main.notfound-page {
    padding-left: 6vw;
    padding-right: 6vw;

    h1 {
      font-size: 1.8em;
    }
    p {
      font-size: 1.3em;
      line-height: 1.1em;
    }
    button {
      margin-top: 1vw;
      font-size: 1.5em;
    }
    img {
      width: 80vw;
    }
  }
}